[submodule "FactionsX"]
	path = FactionsX
	url = https://github.com/SavageLabs/FactionsX
[submodule "FWild-Addon"]
	path = FWild-Addon
	url = https://github.com/SavageLabs/FWild-Addon.git
[submodule "FGrace-Addon"]
	path = FGrace-Addon
	url = https://github.com/SavageLabs/FGrace-Addon.git
