[submodule "FactionsX"]
	path = FactionsX
	url = https://github.com/SavageLabs/FactionsX
[submodule "FWild-Addon"]
	path = FWild-Addon
	url = https://github.com/SavageLabs/FWild-Addon.git
[submodule "FGrace-Addon"]
	path = FGrace-Addon
	url = https://github.com/SavageLabs/FGrace-Addon.git
[submodule "FTOP-Addon"]
	path = FTOP-Addon
	url = https://github.com/SavageLabs/FTOP-Addon.git
[submodule "AddonFramework"]
	path = AddonFramework
	url = https://github.com/SavageLabs/AddonFramework.git
[submodule "FTNT-Addon"]
    path = FTNT-Addon
    url = https://github.com/SavageLabs/FTNT-Addon.git
[submodule "FPrinter-Addon"]
	path = FPrinter-Addon
	url = https://github.com/SavageLabs/FPrinter-Addon.git
[submodule "FMobTweaks-Addon"]
	path = FMobTweaks-Addon
	url = https://github.com/SavageLabs/FMobTweaks-Addon
