[submodule "FactionsX"]
	path = FactionsX
	url = https://github.com/SavageLabs/FactionsX
[submodule "FWild-Addon"]
	path = FWild-Addon
	url = https://github.com/SavageLabs/FWild-Addon.git
[submodule "FGrace-Addon"]
	path = FGrace-Addon
	url = https://github.com/SavageLabs/FGrace-Addon.git
[submodule "FTOP-Addon"]
	path = FTOP-Addon
	url = https://github.com/SavageLabs/FTOP-Addon.git
[submodule "AddonFramework"]
	path = AddonFramework
	url = https://github.com/SavageLabs/AddonFramework.git
